header {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 0;
}

nav {
  display: flex;
}

nav a:link,
nav a:visited {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;
  font-weight: bold;
  color: #000080;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover,
.nav-bar a:active {
  background-color: #000080;
  color: #ffffff;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 210px);
  margin: auto;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
body,
button,
select {
  font-size: 13px;
}

.weather-and-view-selection-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 1200px;
}

#openweather-widget {
  display: flex;
  flex-flow: column wrap;
  align-self: flex-start;
  margin-left: 30px;
  flex-grow: 1;
}

.view-title-div {
  display: flex;
}
#viewTitle {
  margin-right: 10px;
  flex-grow: 1;
}

.view-selection {
  display: flex;
}

.select-view-button {
  margin-right: 30px;
}

#availableBikesButton,
#availableSpacesButton {
  display: inline-block;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

canvas {
  width: 800px !important;
  height: 400px !important;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: calc(100vh - 170px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

#leftSideColumn {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  justify-content: space-evenly;
}

#planYourTrip {
  background: lightgray;
  border-radius: 20px;
}

#planYourTripTitle {
  text-align: center;
  color: white;
}

#daySelect,
#timeSelect,
#stationSelected,
#submitTripPlan {
  margin: 10px;
  text-align: left;
}

#predictionMap {
  flex-grow: 2;
  width: 100%;
  margin: 0 auto;
}

.select-station {
  padding: 5px;
}

.line {
  border-left: 3px solid grey;
  margin-right: 10px;
  margin-left: 10px;
}

#submitTripPlan {
  display: none;
}

h3,
h2 {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#predictionContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#weatherForecastIconTextContainer {
  display: flex;
}

/* this needs to be at the bottom of the css file
because the browser needs to parse the non media queries first */
@media screen and (max-width: 992px) {
  canvas {
    width: 600px !important;
    height: 300px !important;
  }
}

@media screen and (max-width: 768px) {
  body,
  button,
  select {
    font-size: 10px;
  }
  header {
    height: 80px;
  }
  .content-container {
    flex-direction: column;
    max-height: calc(100vh - 105px);
  }
  .line {
    display: none;
  }
  #predictionMap {
    flex-grow: 2;
    width: 100%;
    margin-top: 10px;
  }
  #leftSideColumn {
    display: flex;
    flex-direction: row;
    min-width: 30%;
    justify-content: space-between;
  }
  #planYourTrip,
  #weatherForecast,
  #stationAvailabilityPrediction {
    flex-direction: row;
  }
  #predictionContainer {
    flex-direction: column;
  }
  canvas {
    width: 400px !important;
    height: 200px !important;
  }
}

@media screen and (max-width: 695px) {
  canvas {
    width: 300px !important;
    height: 150px !important;
  }
}

@media screen and (max-width: 600px) {
  #map {
    max-height: calc(100vh - 245px);
  }
  .weather-and-view-selection-container {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #viewTitle,
  #openweather-widget,
  .select-view-button {
    margin: 0 auto;
  }
  #viewTitle {
    margin-bottom: 5px;
  }
}
