<!DOCTYPE html>
<html>
  <head>
    <title>Dublin Bikes App</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 53.3498, lng: -6.2603 },
          zoom: 12,
        });

        // We have one infowindow that is shared between all stations so that only one can be open at a time
        const infowindow = new google.maps.InfoWindow();
        fetch('/stations')
            .then(response => response.json())
            .then(stationData =>  {
                for (const station of stationData) {

                    // Assign different colours to stations based on percentage bike availability
                    // The ranges for each colour were decided to ensure an approximately equal
                    // number of stations in each group based on historical data
                    let colourIcon;
                    if (station.availableBikes / station.totalStands < 0.26) {
                        colourIcon = "/static/red-square.png";
                    } else if (station.availableBikes / station.totalStands < 0.44) {
                        colourIcon = "/static/ylw-square.png";
                    } else {
                        colourIcon = "/static/grn-square.png";
                    }

                    const marker = new google.maps.Marker({
                        position: {'lat': station.latitude, 'lng': station.longitude},
                        icon: colourIcon,
                        map,
                    });

                    // Information displayed in info window
                    const contentString =
                    station.name +
                    "<ul>" +
                    "<li>Available Bikes: " + station.availableBikes + "</li>" +
                    "<li>Free Stands: " + station.freeStands + "</li>" +
                    "</ul>" +
                    "<button type='button' onclick='displayChart(" + station.stationId + ")'>More</button>";

                    marker.addListener("click", () => {
                        // Close any open info window
                        if (infowindow) infowindow.close();
                        infowindow.setContent(contentString);
                        infowindow.open(map, marker);
                    });

                }
            })
        };
      function displayChart(stationId) {
        fetch('/availability_history?stationId=' + stationId)
          .then(response => response.json())
          .then(stationAvailabilityHistory => {console.log(stationAvailabilityHistory)})
      };
    </script>
  </head>
  <body>
    <div id="header"><h1>Group 5 Dublin Bikes App</h1></div>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrzloaJPiuP3QvxoeLVdLyWZsh7oTAXm4&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
