<!DOCTYPE html>
<html>
  <head>
    <title>Dublin Bikes App</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 53.3498, lng: -6.2603 },
          zoom: 12,
        });

        fetch('/stations')
            .then(response => response.json())
            .then(stationData =>  {
                for (const station of stationData.available) {
                    new google.maps.Marker({
                        position: {'lat': station.latitude, 'lng': station.longitude},
                        map
                    });
                }
            })
        };

        window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
        window.myWidgetParam.push({
          id: 14,
          cityid: '2964574',
          appid: '2b0d38b2a507a38d8cffe412613f6e08',
          units: 'metric',
          containerid: 'openweather-widget',
        });

        ( function weatherWidget() {
          var script = document.createElement('script');
          script.async = true;
          script.charset = "utf-8";
          script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(script, s);
          }
         )
         ();

    </script>
  </head>
  <body>
    <div id="header"><h1>Group 5 Dublin Bikes App</h1></div>
    <div id="openweather-widget"></div>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrzloaJPiuP3QvxoeLVdLyWZsh7oTAXm4&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
